.Brown {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(45deg, black, rgb(52 37 31), rgb(78 50 39));
  margin: 0;
  padding: 0;
  display: flex;
}

.multi {
  height: 100%;
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.w1 {
  color: white;
  font-size: 170%;
}

.w2 {
  color: rgb(183 174 161);
  font-size: 170%;
}

.w3 {
  color: rgb(78 67 66);
  font-size: 110%;
  margin-right: 3%;
}

.purchase {
  height: 100%;
  width: 50%;
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.kupi {
  height: 30%;
  width: 20%;
  background-color: rgb(151 135 117);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10%;
  transition: 300ms;
}

.kupi:hover {
  box-shadow: 1vh 1vh 1vh black;
}

@media (max-width: 1280px) {
  .kupi {
    width: 30%;
  }
}

@media (max-width: 857px) {
  .kupi {
    width: 35%;
  }
}

@media (max-width: 918px) {
  .Brown {
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .multi {
    width: 100%;
  }

  .kupi {
    width: 60%;
  }
}

@media (max-width: 460px) {
  .w1,
  .w2 {
    font-size: 150%;
  }
}

@media (max-width: 439px) {
  .kupi {
    width: 75%;
  }
}

@media (max-width: 410px) {
  .w1,
  .w2 {
    font-size: 120%;
  }

  .w3 {
    font-size: 90%;
  }
}
