p {
  margin: 0;
  padding: 0;
}

.Develop {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  justify-content: center;
  gap: 5%;
}

.deve {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  color: rgb(86 86 86);
  transition: 300ms;
}

.deve:hover p,
.deve:hover b {
  color: rgb(201 177 153);
}

.d1 {
  font-size: 150%;
  color: rgb(86 86 86);
  margin-bottom: 5%;
  font-family: Mont;
}

.allin:hover .icon {
  filter: invert(86%) sepia(22%) saturate(430%) hue-rotate(10deg)
    brightness(95%) contrast(92%);
}

.custom {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  color: rgb(86 86 86);
  align-items: center;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 1%;
  background-color: black;
  border-radius: 20%;
  margin-top: 10%;
}

.allin:hover p,
.allin:hover b {
  color: rgb(201 177 153);
}

.mark {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  color: rgb(86 86 86);
  align-items: center;
  flex-direction: column;
}

.d2 {
  color: rgb(86 86 86);
  font-family: Open;
  font-size: 90%;
}

.allin {
  transition: 300ms;
}

.allin:hover .line {
  background-color: rgb(201 178 157);
}

.line {
  transition: 300ms;
}

.allin:hover {
  color: rgb(201 178 157);
}

.app {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(86 86 86);
}

.icon {
  position: absolute;
  top: 7vh;
  transition: 300ms;
}

@media (max-width: 800px) {
  .Develop {
    height: 100vh;
    flex-direction: column;
    gap: 20px;
  }

  .allin {
    width: 200px;
    height: auto;
  }

  .line {
    height: 2px;
  }

  .icon,
  .Develop {
    position: static;
  }
}

@media (max-width: 1600px) {
  .allin {
    width: 17%;
  }
}

@media (max-width: 1415px) {
  .allin {
    width: 20%;
  }
}

@media (max-width: 1207px) {
  .Develop {
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    height: 120vh;
  }

  .allin {
    width: 50%;
    height: auto;
    font-size: 110%;
  }

  .line {
    height: 2px;
    margin-bottom: 2%;
  }

  .icon,
  .Develop {
    position: static;
  }

  .icon {
    margin-bottom: 4%;
  }

  .linenone {
    display: none;
  }
}

@media (max-width: 556px) {
  .allin {
    font-size: 100%;
    width: 60%;
  }
}

@media (max-width: 416px) {
  .allin {
    width: 70%;
  }
}

@media (max-height: 890px) {
  .Develop {
    height: 120vh;
  }
}

@media (max-height: 729px) {
  .Develop {
    height: 140vh;
  }
}
