.canyon {
  height: 35vh;
  width: 100%;
  background-image: url(./img/canyon.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barber {
  height: 50%;
  width: 15%;
}
.end {
  height: 7vh;
  width: 100%;
  background-color: rgb(17 17 17);
}
.bwax {
  color: white;
  font-weight: 500;
}

.privacy {
  color: rgb(74 74 74);
}

.imadeit {
  display: flex;
  gap: 3%;
}

.thisfar {
  display: flex;
  gap: 3%;
}

.end {
  display: flex;
  flex-direction: row;
}
