.Projects {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  padding-top: 5%;
}

.latest {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(87 87 87);
  font-size: 170%;
}

.legere {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(162 162 162);
  font-size: 120%;
}

.knopik {
  color: rgb(161 161 161);
  border: 0.5px solid rgb(161 161 161);
  border-radius: 7%;
  transition: 300ms;
}

.knopik:hover {
  background-color: hsl(25.71deg 11.86% 53.73%);
  color: white;
}

.mune {
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.photos {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.photo1 {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  margin-bottom: 3%;
}

.p1 {
  height: 100%;
  width: 18%;
  background-color: white;
  transition: 300ms;
}

.p1:hover .ph2,
.p1:hover .triangle {
  background-color: rgb(55 46 45);
}

.ph1 {
  width: 100%;
  height: 70%;
  position: relative;
}

.triangle {
  position: absolute;
  clip-path: polygon(25% 65%, 0% 100%, 50% 100%);
  height: 15%;
  width: 15%;
  left: 5%;
  bottom: 0;
  background-color: #fcfaf8;
  transition: 300ms;
}

.tt1 {
  font-size: 80%;
  font-weight: 400;
}

.ph2 {
  height: 30%;
  background-color: rgb(252 250 248);
  width: 100%;
  font-size: 120%;
  padding-left: 7%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  color: rgb(200 196 190);
  transition: 300ms;
}

.hand {
  height: 100%;
  width: 100%;
  background-color: rgb(224 238 238);
}

.photo2 {
  height: 40%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}
.photo1,
.photo2 {
  align-items: center;
}

.pho1 {
  height: 70%;
  width: 100%;
}

.rock {
  height: 100%;
  width: 100%;
}

.pho2 {
  height: 30%;
  width: 100%;
  font-size: 120%;
  padding-left: 7%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  color: rgb(200 196 190);
  background-color: rgb(252 250 248);
}

.LOAD {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
}

.load1 {
  width: 7%;
  background-color: rgb(153 133 117);
  color: white;
  height: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  transition: 300ms;
  font-family: Mont;
}

.legere1 {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(162 162 162);
  font-size: 120%;
}

.load1:hover {
  box-shadow: 1vh 1vh 1vh black;
}

@media (max-width: 1200px) {
  .p1 {
    width: 25%;
  }
}

@media (max-width: 900px) {
  .p1 {
    width: 25%;
  }
}

@media (max-width: 620px) {
  .p1 {
    width: 31%;
  }
  .photo1,
  .photo2 {
    flex-wrap: wrap;
    height: 80%;
  }
}

@media (max-width: 400px) {
  .photo1,
  .photo2 {
    height: 47%;
  }
}

@media (max-height: 940px) {
  .Projects {
    height: 120vh;
  }
}

@media (max-width: 800px) {
  .legere {
    font-size: 100%;
  }
}

@media (max-width: 700px) {
  .legere {
    display: none;
  }

  .legere1 {
    display: flex;
  }
}

@media (max-width: 500px) {
  .legere1 {
    font-size: 87%;
  }
}

@media (max-width: 1400px) {
  .load1 {
    width: 12%;
  }
}

@media (max-width: 825px) {
  .load1 {
    width: 15%;
  }
}

@media (max-width: 667px) {
  .load1 {
    width: 18%;
  }
}

@media (max-width: 620px) {
  .load1 {
    margin-top: 5%;
    width: 21%;
  }
}

@media (max-width: 470px) {
  .load1 {
    width: 27%;
  }
}

@media (max-height: 850px) {
  .photos {
    height: 75%;
  }
}

@media (max-height: 750px) {
  .photos {
    height: 75%;
  }

  .photo1,
  .photo2 {
    height: 50%;
  }

  .ph2 {
    font-size: 0%;
  }
}
