.Recent {
  height: 55vh;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
}

.rec {
  color: rgb(75 75 75);
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saepius {
  color: rgb(158 158 158);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.september {
  height: 100%;
  width: 20%;
  position: relative;
  transition: 300ms;
}

.september:hover .popor {
  background-color: rgb(55 46 45);
}

.september:hover {
  filter: brightness(0.5);
}

.trishki {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: center;
  gap: 2%;
}

.shoe {
  height: 60%;
  width: 100%;
  background-image: url(./img/shoe.jpg);
  background-size: cover;
  transition: 300ms;
}

.ipopo {
  color: rgb(98 98 98);
  font-size: 150%;
  transition: 300ms;
}

.september:hover .ipopo {
  color: hsl(27.57deg 24.5% 70.39%);
}

.ipapa {
  color: rgb(173 173 173);
  transition: 300ms;
}

.september:hover .ipapa {
  color: white;
}

.popor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: space-evenly;
  padding-left: 3%;
  box-sizing: border-box;
  transition: 300ms;
}

.readmore {
  transition: 300ms;
  color: rgb(213 210 206);
}

.september:hover .readmore {
  color: hsl(27.57deg 24.5% 70.39%);
}

.laptopchik {
  height: 60%;
  width: 100%;
  background-image: url(./img/woman-typing-on-laptop.jpg);
  background-size: cover;
}

.cruise {
  height: 60%;
  width: 100%;
  background-image: url(./img/Cruise.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.sep30 {
  height: 27%;
  width: 15%;
  border-radius: 20%;
  position: absolute;
  left: 5%;
  top: 5%;
  background-color: transparent;
}

.sep1 {
  height: 35%;
  width: 100%;
  background-color: rgb(55 54 48);
  color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15;
  transition: 300ms;
}

.september:hover .sep1 {
  background-color: hsl(27.57deg 24.5% 70.39%);
}

.sep2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37 37 37);
  height: 25%;
  width: 100%;
  transition: 300ms;
}

.september:hover .sep2 {
  background-color: hsl(30.67deg 19.31% 54.31%);
}
